@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@using TeamplateHotel.Controllers
@using TeamplateHotel.Models
@model List<ShowArticle>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    ViewBag.Title = "Dining";
    int i = 0;
}
<div class="ok-text">
    <h1>@menu.Title</h1>
    <div>
        @Html.Raw(menu.Description)
    </div>
    @*<div class="head-link" style="margin: auto; width: 150px; padding-bottom: 10px; margin-top: 20px;">
            <a href="/offer">Read More</a>
        </div>*@
</div>
<section id="page_summary" class="section bg-vanilla bg-image-section-one reveal">
    <div class="q-container container-inner">
        <div class="columns type-3">
            <div class="column col-right wow shake">
                <h1 class="section-headline">
                    <span class="q_split">
                        <span class="q_split_wrap rev_item" editor-binding="title_one"
                              [editorToolBarButton]="['bold','italic']">
                           @menu.Title
                        </span>
                    </span>
                    
                </h1>
            </div>
            <div class="column col-left wow bounceInUp" editor-binding="description" [editorToolBarButton]="['bold','italic']">

                D'Lioro Halong Hotel holds a very important space for Food and Beverage. We always try our best to daily
                serves up memorable dining experiences. We offer menus of Vietnamese dishes as well as international
                specialties, creatively combining traditional dishes with contemporary culinary techniques.
              
                
               
            </div>
        </div>
    </div>
</section>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        if (i % 2 == 0)
        {
            <section style="background: #eee; padding-top: 100px; padding-bottom: 100px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <div class="" style="position: relative;">
                                    <div class="owl-carousel owl-carouselDinning" >
                                        @foreach (var img in item.ArticleGalleries)
                                        {
                                            <div class="item"><img src="@img.ImageLarge"></div>
                                        }
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white" style="margin-top: 40px;">
                                <div class="text-win wow slideInUp">
                                    <h2>
                                        <span class="q_split"><span editor-binding="title_one" [editorToolBarButton]="['bold','italic']">@item.Article.Title</span></span>
                                        
                                    </h2>
                                    <div style="background: chocolate; height: 2px; width: 200px; float: right;"></div>
                                    <p editor-binding="description" [editorToolBarButton]="['bold','italic']">
                                        @Html.Raw(item.Article.Description)
                                    
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section style="background: #eee; padding-top: 100px; padding-bottom: 100px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-white" style="margin-top: 40px;">
                                <div class="text-win wow slideInUp">
                                    <h2>
                                        <span class="q_split"><span editor-binding="title_one" [editorToolBarButton]="['bold','italic']">@item.Article.Title</span></span>
                                        
                                    </h2>
                                    <div style="background: chocolate; height: 2px; width: 200px; float: left;"></div>
                                    <p editor-binding="description" [editorToolBarButton]="['bold','italic']">
                                       @Html.Raw(item.Article.Description)
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <div class="" style="position: relative;">
                                    <div class="owl-carousel owl-carouselDinning" >
                                        @foreach (var img in item.ArticleGalleries)
                                        {
                                            <div class="item"><img src="@img.ImageLarge"></div>
                                        }

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        i++;
    }

}







