@model TeamplateHotel.Areas.Administrator.ModelShow.ShowArticle
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}

<form action="@Url.Action("UpdateIndex", "Room")" method="POST" id="updateIndex">
    
    <div id="jtable-main-container"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#jtable-main-container').jtable({
                title: '@ViewBag.Title',
                paging: true, //Enable paging
                pageSize: 20, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC', //Set default sorting
                selecting: true, //Enable selecting
                multiselect: true, //Allow multiple selecting
                selectingCheckboxes: true, //Show checkboxes on first column
                columnResizable: true, //Actually, no need to set true since it's default
                columnSelectable: true, //Actually, no need to set true since it's default
                saveUserPreferences: true, //Actually, no need to set true since it's default
                toolbar: {
                    items: [
                        {
                            icon: '/Areas/Administrator/Content/img/add.png',
                            text: 'Thêm mới',
                            click: function() {
                                window.location = '@Url.Action("Create", "Room")';
                            }
                        }, {
                            icon: '/Areas/Administrator/Content/img/Ordering.png',
                            text: 'Sắp xếp',
                            click: function() {
                                $("#updateIndex").submit();
                            }
                        }
                    ]
                },
                actions: {
                    listAction: '@Url.Action("List", "Room")',
                    deleteAction: '@Url.Action("Delete", "Room")',
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Title: {
                        title: 'Tên phòng',
                        width: '13%',
                        display: function(data) {
                            return '<a href="/admin/Room/Update/' + data.record.ID + '">' + data.record.Title + '</a>';
                        }
                    },
                    Index: {
                        title: 'Thứ tự hiển thị',
                        width: '4%',
                        sorting: false,
                        display: function(data) {
                            return '<input type="text" name="sort[' + data.record.ID + '].Index" style="width:25px" value="' + data.record.Index + '"/>';
                        }
                    },
                    Home: {
                        title: 'Hiển thị trang chủ',
                        width: '8%',
                        type: 'checkbox',
                        values: { 'false': 'Không', 'true': 'Có' },
                        defaultValue: 'true'
                    },
                    Status: {
                        title: 'Trạng thái hiển thị',
                        width: '8%',
                        type: 'checkbox',
                        values: { 'false': 'Không', 'true': 'Có' },
                        defaultValue: 'true'
                    },
                    '':
                    {
                        title: '',
                        width: '2%',
                        sorting: false,
                        display: function(data) {
                            return '<button title="Edit" type="button" class="jtable-command-button jtable-edit-command-button" onclick="editRecord(' + data.record.ID + ')"><span>Edit</span></button>';
                        }
                    }
                }
            });
            $('#jtable-main-container').jtable('load');
        });
    </script>
</form>
<script>
    function editRecord(Id) {
        window.location = '@Url.Action("Update", "Room")' + '/' + Id;
    }
</script>