@using System.Web.Mvc.Html
@model TeamplateHotel.Areas.Administrator.EntityModel.GetPassword
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
   
    <head>
        <meta charset="utf-8">
        <title>Lấy lại mật khẩu</title>
        <link href="/Areas/Administrator/Content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Areas/Administrator/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Areas/Administrator/Content/css/font-awesome.css" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

        <link href="~/Areas/Administrator/Content/css/style.css" rel="stylesheet" />
        <link href="~/Areas/Administrator/Content/css/pages/signin.css" rel="stylesheet" />
        <link href="~/Areas/Administrator/Content/media/system/css/ui.notify.css" rel="stylesheet" />

    </head>
    <body>
        <div id="container-notify" style="display:none">
            <div id="sticky">
                <a class="ui-notify-close ui-notify-cross" href="#">x</a>
                <h1>#{title}</h1>
                <p>#{text}</p>
            </div>
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/admin" style="white-space: nowrap">
                        Đăng nhập trang quản trị			
                    </a>		
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="">						
                                <a href="/" class="">
                                    Về website
                                    <i class="icon-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->	
                </div> <!-- /container -->
            </div> <!-- /navbar-inner -->
        </div> <!-- /navbar -->
        <div class="account-container">
            <h1>Lấy lại mật khẩu</h1>
            <div class="content clearfix">
                @using (Html.BeginForm("GetPassWord", "Login", FormMethod.Post, new { @onsubmit = " ShowLoading()" }))
                {
                    <div class="login-fields">
                        <p>@ViewBag.Message</p>
                        <div class="field">
                            <label for="UserName">Tên đăng nhập</label>
                            @Html.TextBoxFor(a => a.UserName, new { @placeholder = "Tên đăng nhập" })
                            @Html.ValidationMessageFor(a => a.UserName)
                        </div> <!-- /field -->
                        <div class="field">
                            <label for="Email">Địa chỉ email</label>
                            @Html.TextBoxFor(a => a.Email, new { @placeholder = "Địa chỉ email" })
                            @Html.ValidationMessageFor(a => a.Email)
                        </div> <!-- /field -->
                    </div>
                    <b>@ViewBag.Messeages</b>
                    <!-- /login-fields -->
                    <div class="login-actions">
                        <button class="button btn btn-success btn-large">Gửi yêu cầu</button>
                    </div>
                    <!-- .actions -->
                }
            </div> <!-- /content -->
        </div> <!-- /account-container -->
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
        <script src="~/Areas/Administrator/Content/js/bootstrap.js"></script>
        <script src="~/Areas/Administrator/Content/js/signin.js"></script>
        <script src="~/Areas/Administrator/Content/media/system/js/jquery.notify.js"></script>
        <script src="~/Areas/Administrator/Content/media/system/js/JavaScript.js"></script>
    </body>
<div id="wraploadding">
    <div id="imgloadding"><img src="/Areas/Administrator/Content/img/ajax-loader.gif" /></div>
</div>
</html>
<script>
    var messages = '@ViewBag.Messages';
    if (messages != null && messages.trim() != "") {
        CreateMessage(messages);
    }
</script>




