@using TeamplateHotel.Handler
@using ProjectLibrary.Database
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}
<style>
    .des-article, .text-center {
        color: #462323;
        font-size: 26px;
    }

        .text-center ul {
            color: #db3c3c;
        }

    #wraploadding {
        background-color: #fff;
        opacity: 0.8;
        z-index: 5000;
        position: fixed;
        top: 0px;
        left: 0px;
        display: none;
    }

        #wraploadding div#imgloadding {
            width: 100px;
            height: 100px;
            margin: auto;
            position: relative;
        }
</style>
@Html.Partial("Menu/MainMenus")
@Html.Partial("Slider/Slider")
<section class="breadcrumb-area overlay-dark-2 bg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>@menu.Title</h2>
                    <ul>
                        <li><a href="/">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Home")</a></li>
                        <li>@menu.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="des-article">
                <br />
                @Html.Raw(ViewBag.Messages);
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


