@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Hotel hotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    Menu menu = ViewBag.Menu ?? new Menu();
}
<style>
    .contact {
        /*background-color: #76A7B3;*/
        /*height: 650px;*/
        /*overflow-y: scroll;*/
        /*border-radius: 20px;*/
        margin: auto;
    }

        .contact h1 {
            font-size: 29px;
            line-height: 40px;
            text-align: center;
            margin-top: 30px;
            color: #785151;
            text-transform: uppercase;
            font-weight: bold;
        }

        .contact h3 {
            font-size: 16px;
            text-align: center;
            color: #785151;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 50px;
        }

        .contact h4 {
            font-size: 15px;
            text-align: left;
            color: #785151;
        }

        .contact p {
            font-size: 15px;
            text-align: center;
            color: #785151;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .contact input, select {
            height: 50px;
            margin-bottom: 20px;
        }

        .contact button {
            text-align: center;
            display: block;
            width: 20%;
            padding: 15px;
            margin: 0 auto;
            margin-top: 10px;
            font-family: "trend";
            text-transform: uppercase;
            margin-top: 20px;
        }
    label {
        color: #785151;
        margin-bottom:1em;
        float:left
    }
    option{
        font-family:none;
    }
</style>
@Html.Partial("Menu/MainMenus")
@Html.Partial("Slider/Slider")
<div class="contact col-md-9">
    <div style="width: 90%; margin: auto">
        <h1>Contact Us</h1>
        <p>General Customer Request</p>
        <form action="Contact/SubmitContact" method="post" style="">
            <label>Gender:</label>

            <select class="form-control" name="Gender" style="height:3.5em" required>
                <option value="">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Select")</option>
                <option value="@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Mr")">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Mr")</option>

                <option value="@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Mrs")">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Mrs")</option>
            </select>

            <label>Full Name:</label>
            <input type="text" name="FullName" placeholder="What's your name?" class="form-control" required>
            <label>Phone:</label>
            <input type="text" name="Tel" class="form-control" required>
            <label>Email:</label>
            <input type="email" name="Email" placeholder="What's your email?" class="form-control" required>
            <label>Message:</label>
            <textarea name="Request" placeholder="Message goes here" class="form-control" rows="4" required></textarea>
            <button type="submit" class="btn-submit" style="">Submit</button>
        </form>
        <h3>CONTACT DETAILS</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>@hotel.Address</h4>
            </div>
            <div class="col-md-6">
                <p style="text-align: left; font-size: 15px;">
                    Phone:  @hotel.Tel <br />
                    Fax:  @hotel.Fax <br />
                    Email: @hotel.Email <br />

                </p>
            </div>
        </div>
    </div>
</div>
