@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using TeamplateHotel.Models
@using ProjectLibrary.Database
@using ProjectLibrary.Config
@{
    ViewBag.HomePage = true;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menuDine = CommentController.MenuArticles(SystemMenuType.Article, Request.Cookies["LanguageID"].Value);
    Menu menuUnwind = CommentController.MenuArticles(SystemMenuType.Service,Request.Cookies["LanguageID"].Value);
    Menu menuSleep = CommentController.MenuArticles(SystemMenuType.RoomRate, Request.Cookies["LanguageID"].Value);
    List<Menu> menufooter = CommentController.GetSecondMenus(Request.Cookies["LanguageID"].Value);
    Hotel detailHotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    List<PageHome> pageHomes = CommentController.ListPageHome(Request.Cookies["LanguageID"].Value);
    //ShowObject article = CommentController.WellcomeArticle(Request.Cookies["LanguageID"].Value) ?? new ShowObject();
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value);
    //List<ShowObject> articleShowHome = CommentController.ShowHomeArticles(Request.Cookies["LanguageID"].Value);
    //List<ShowObject> newArticle = CommentController.NewArticles(Request.Cookies["LanguageID"].Value);
    List<ShowObject> roomShowHomes = CommentController.RoomShowHome(Request.Cookies["LanguageID"].Value);
    //List<FeedBack> feedBacks = CommentController.GetFeedBack(Request.Cookies["LanguageID"].Value);
    Menu menu = ViewBag.Menu ?? new Menu();
    List<Language> languages = CommentController.GetLanguages();
    //ShowObject articlesv = CommentController.WellcomeServer(Request.Cookies["LanguageID"].Value) ?? new ShowObject();
    //List<ServiceGallery> galerlly = CommentController.listServer(articlesv.ID);
    //List<Slider> sliders = CommentController.GetListSlider(Request.Cookies["LanguageID"].Value, menu.ID);
    //List<Gallery> galleries = CommentController.Gallery();

}

<div>
    <nav class=" navbar navbar-expand-lg static-top fixed-top " @*style="background:#76A7B3"*@>
        <div class="container">
            <a class="navbar-brand" href="/">

                <img src="@detailHotel.Logo" style="width:150px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto hovereffers">
                    @foreach (var item in menus.Where(a => a.ParentID == 0))
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="/@item.Alias">@item.Title</a>
                        </li>
                    }



                    @foreach (var item in languages)
                    {
                        <li class="nav-item">
                            <a href="/SelectLanguge/@item.ID" class="nav-link"><img src="@item.Icon" alt="@item.Name"></a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- end check ie popup-->
<!-- Your page here -->
<div id="main" role="main">
    <section id="homePage">
        <div class="pContain" id="fullpage">
            @if (pageHomes.Count > 0)
            {
                <div class="pageItem welcome section">
                    <div class="content container align-m">
                        <h1>@pageHomes[0].Title</h1>
                        @*<h2>asasas</h2>*@
                        <p class="des">@Html.Raw(pageHomes[0].Description)</p>
                        <a href="#" class="button type5 experienceBtn">Experience a day in the life</a>
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="@pageHomes[0].Video" poster="~/Content/images/welcome_poster.jpg">
                        <source src="@pageHomes[0].Video" type="video/mp4">
                        @* <source src="~/Content/videos/Pool-web.ogv" type="video/ogg">*@
                    </video>
                    <video controls="controls">
                        <source src="@pageHomes[0].Video" type="video/mp4" />
                    </video>
                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- welcome -->
            }
            @if (pageHomes.Count > 1)
            {
                <div class="pageItem wakeUp section">
                    <div class="content container align-m">
                        <h1>@pageHomes[1].Title</h1>
                        <p class="des">
                            @Html.Raw(pageHomes[1].Description)
                        </p>

                        <div class="roomType">
                            <p class="title">SELECT A ROOM TYPE</p>
                            <ul>
                                @foreach (var item in roomShowHomes.Where(a => a.ParentID == 0).Take(4))
                                {
                                    var roomChild = roomShowHomes.Where(b => b.ParentID == item.ID).ToList();
                                    if (roomChild.Count > 0)
                                    {
                                        <li>
                                            <div class="menu hasSubmenu">@item.Title</div>
                                            <div class="submenu">
                                                @foreach (var item1 in roomChild)
                                                {
                                                    <a href="@item.MenuAlias/@item1.ID/@item1.Alias">@item1.Title</a>
                                                }


                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <div class="menu"><a href="@item.MenuAlias/@item.ID/@item.Alias">@item.Title</a></div>
                                        </li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Room-to-beach-web" poster="~/Content/images/wakeup_poster.jpg">
                        <source src="@pageHomes[1].Video" type="video/mp4">
                        @*  <source src="~/Content/videos/Room-to-beach-web.ogv" type="video/ogg">*@
                    </video>

                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- wakeUp -->
            }

            @if (pageHomes.Count > 2)
            {
                <div class="pageItem getWet section" videourl="">
                    <div class="content container align-m">
                        <h1>@pageHomes[2].Title</h1>
                        <p class="des">@Html.Raw(pageHomes[2].Description)</p>

                        <div class="steps">
                            <!-- <ul>
                        <li class="blue water-sports"><span>WATER<br>SPORTS</span></li>
                        <li class="yellow scuba"><span>SCUBA</span></li>
                        <li class="orange beach"><span>BEACH</span></li>
                        <li class="green pool"><span>POOL</span></li>
                    </ul> -->

                            <ul>
                                <li>
                                    <a href="/@menuUnwind.Alias">
                                        <span class='revive-icon blue-bg'><img src="~/Content/images/icon-water-sports.svg" alt="" /></span><span class="revive-item-title">WATER<br>SPORTS</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/@menuUnwind.Alias">
                                        <span class="revive-icon orange-bg"><img src="~/Content/images/icon-scuba.svg"></span><span class="revive-item-title">SCUBA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/@menuUnwind.Alias">
                                        <span class="revive-icon green-bg"><img src="~/Content/images/icon-beach.svg"></span><span class="revive-item-title">BEACH</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/@menuUnwind.Alias">
                                        <span class="revive-icon gold-bg"><img src="~/Content/images/icon-pool.svg"></span><span class="revive-item-title">POOL</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- <a href="unwind.html#activities" class="button type6">SEE OUR ACTIVITIES</a> -->
                        </div>
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Feet-in-water-web" poster="~/Content/images/getWet_poster.jpg">
                        <source src="@pageHomes[2].Video" type="video/mp4">
                        @*    <source src="~/Content/videos/Feet-in-water-web.ogv" type="video/ogg">*@
                    </video>

                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- getWet -->
            }

            @if (pageHomes.Count > 3)
            {
                <div class="pageItem induldge section" videourl="">
                    <div class="content container align-m">
                        <h1>@pageHomes[3].Title</h1>
                        <p class="des">@Html.Raw(pageHomes[3].Description)</p>

                        <div class="logoHolder">
                            <ul>
                                <li><a href="/@menuDine.Alias"><img src="~/Content/images/logo_sandals.svg" alt=""></a></li>
                                <li><a href="/@menuDine.Alias"><img src="~/Content/images/logo_mojito.svg" alt=""></a></li>
                                <li><a href="/@menuDine.Alias"><img src="~/Content/images/logo_labaia.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Dine-web" poster="~/Content/images/induldge_poster.jpg">
                        <source src="@pageHomes[3].Video" type="video/mp4">
                        @*  <source src="~/Content/videos/Dine-web.ogv" type="video/ogg">*@
                    </video>

                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- induldge -->
            }

            @if (pageHomes.Count > 4)
            {


                <div class="pageItem revive section" videourl="">
                    <div class="content container align-m">
                        <h1>@pageHomes[4].Title</h1>
                        <p class="des">@Html.Raw(pageHomes[4].Description)</p>

                        <ul>
                            <li>
                                <a href="/@menuUnwind.Alias">
                                    <span class='revive-icon blue-bg'><img src="~/Content/images/icon-xanh-spa.svg" alt="" /></span><span class="revive-item-title">XANH SPA</span>
                                </a>
                            </li>
                            <li>
                                <a href="/@menuUnwind.Alias">
                                    <span class="revive-icon orange-bg"><img src="~/Content/images/icon-yoga.svg"></span><span class="revive-item-title">YOGA</span>
                                </a>
                            </li>
                            <li>
                                <a href="/@menuUnwind.Alias">
                                    <span class="revive-icon green-bg"><img src="~/Content/images/icon-cooking-class.svg"></span><span class="revive-item-title">COOKING CLASSES</span>
                                </a>
                            </li>
                        </ul>

                        <!-- <a href="unwind.html" class="button type6">VIEW OUR SPA OFFERINGS</a> -->
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Spa-web" poster="~/Content/images/revive_poster.jpg">
                        <source src="@pageHomes[4].Video" type="video/mp4">
                        @* <source src="~/Content/videos/Spa-web.ogv" type="video/ogg">*@
                    </video>

                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- revive -->

            }
            @if (pageHomes.Count > 5)
            {
                <div class="pageItem enjoy section" videourl="">
                    <div class="content container align-m">
                        <h1>

                            @pageHomes[5].Title
                        </h1>
                        <p class="des">@Html.Raw(pageHomes[5].Description)</p>

                        <div class="enjoy-icon-holder">
                            <div class="enjoy-icon">
                                <a href="/@menuDine.Alias"><img src="~/Content/images/icon-noodles.svg" alt="" /><p class="enjoy-item-title">Asian Street Corner</p></a>
                            </div>
                            <div class="enjoy-icon">
                                <a href="/@menuDine.Alias"><img src="~/Content/images/icon-grill.svg" alt="" /><p class="enjoy-item-title">Seafood BBQ</p></a>
                            </div>
                            <div class="enjoy-icon">
                                <a href="/@menuDine.Alias"><img src="~/Content/images/icon-buffet.svg" alt="" /><p class="enjoy-item-title">Italian Buffet</p></a>
                            </div>
                        </div>
                        <!-- <a href="dine.html" class="button type6">SEE ALL NIGHT TIME OPTIONS</a> -->
                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Fire-web" poster="~/Content/images/enjoyTheNight_poster.jpg">
                        <source src="@pageHomes[5].Video" type="video/mp4">
                        <source src="~/Content/videos/Fire-web.ogv" type="video/ogg">
                    </video>
                    <div class="arrowBtn"><img class="easing" src="~/Content/images/icon_arrow_down.svg"></div>
                </div><!-- enjoy the night -->
            }

            @if (pageHomes.Count > 6)
            {
                <div class="pageItem fountain section" videourl="">
                    <div class="content container align-m">

                        <h1>@pageHomes[6].Title</h1>
                        <p class="des">@Html.Raw(pageHomes[6].Description)</p>

                        <a href="@menuSleep.Alias" class="button type5">See our rooms</a>
                        <a href="#home" class="button type5 back-to-top">Back to the beginning</a>

                        <div class="secondary-nav">
                            <ul>
                                @foreach (var item in menufooter)
                                {
                                    <li><a href="/@item.Alias">@item.Title</a></li>

                                }


                            </ul>
                        </div>

                        <div class="navBottom container">
                            <div class="socialHolder">
                                <a href="@detailHotel.Facebook" target="_blank" class="fb"></a>
                                <a href="@detailHotel.Twitter" target="_blank" class="tw"></a>
                                <a href="@detailHotel.Tripadvisor" target="_blank" class="trip"></a>
                            </div>
                        </div><!-- navBottom -->

                    </div>

                    <video class="videoBG hide-mobile" loop="" muted="" data-autoplay="" videourl="~/Content/videos/Fountain-web" poster="~/Content/images/fountain_poster.jpg">
                        <source src="@pageHomes[6].Video" type="video/mp4">
                        <source src="~/Content/videos/Fountain-web.html" type="video/ogg">
                    </video>
                    <!-- <div class="arrowBtn"><img class="easing" src="images/icon_arrow_down.svg"></div> -->
                </div><!-- revive -->
            }




        </div> <!-- end pContain -->
    </section> <!-- section -->
</div><!-- end main -->
