@using TeamplateHotel.Handler
@model DetailRoom
@using ProjectLibrary.Database
@using TeamplateHotel.Models
@using TeamplateHotel.Controllers

@{
    /**/

    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    List<Room> ListRoom = CommentController.GetRooms(Request.Cookies["LanguageID"].Value);
}
<style>
    .carousel-item {
        display: block;
    }
    .features ul {
        max-width:100%;
    }
</style>
@Html.Partial("Menu/MainMenus")
<div id="main" role="main">
    <section id="roomPage">
        <div class="pContain">

            <div class="banner">
                <!-- <img src="../~/Content/images/sleep/banner_640.jpg" class="show-mobile"> -->

                <div class="room-gallery">
                    @foreach (var item in Model.RoomGalleries)
                    {
                        <div class="carousel-item">
                            <img src="@item.ImageLarge">
                        </div>
                    }
                    @*<div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-00.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-01.jpg">
                        </div>*@
                    @*<div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-02.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-03.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-04.jpg">
                        </div>

                        <div class="carousel-item">
                            <img src="~/Content/images/sleep/condo/family/family-condo-FP.jpg">
                        </div>*@
                </div>

                <!-- Dot Nav -->
                <div class="dots-nav"></div>

                <div class="info">
                    <div class="closeBtn"></div>
                    <div class="col col1">

                        <div class="bigTitle">@Model.Room.Title</div>
                        <div class="des">
                            @Html.Raw(Model.Room.Description)
                          
                        </div>
                        <div class="bottom">
                            <div class="houseInfo">
                                <div class="area">Size @Model.Room.Size <sup>M2</sup> </div>
                                <div class="view">@Model.Room.View</div>
                                <div class="room">@Model.Room.Bed</div>

                            </div>
                            @*<div class="detailBtn">SEE MORE DETAILS</div>*@
                        </div>
                    </div>

                    <div class="col col2 moreDetail">
                        <ul>
                            <li>
                                <div class="icon room"></div>
                                <div class="copy">1x Double and 1x Twin (Twin - 2 single beds (0.9m*2m)</div>
                            </li>
                            <li>
                                <div class="icon lounge"></div>
                                <div class="copy">Inside & Outside Lounge</div>
                            </li>
                            <li>
                                <div class="icon iphone"></div>
                                <div class="copy">IPod Dock</div>
                            </li>
                            <!-- <li>
                                <div class="icon robe"></div>
                                <div class="copy">Bathrobes</div>
                            </li> -->
                        </ul>
                        <div class="detail-button">
                            <a href="" class="button type3">SPECIAL OFFERS</a>
                        </div>
                        <div class="detail-button">
                            <a href="" class="button type3">COMPARE ROOMS</a>
                        </div>
                    </div>
                </div>
            </div><!-- banner -->

            <div class="buttonHolder">
                <a href="/booking" class="button bookNowBtn type3">BOOK NOW</a>
            </div>

            <div class="more-info">
                <p class="title">More About Our Condos</p>
                <p>
                    @Html.Raw(Model.Room.Description)

                </p>

                <div class="features">
                    <p class="title">@Model.Room.Title</p>
                    @Html.Raw(Model.Room.Content)

                </div>
            </div><!-- more-info -->

            <div class="selection">
                <div class="title">@Model.Room.Title SELECTIONS</div>
                <ul>
                    @foreach (var item in Model.Rooms)
                    {
                        <li><a href="/@menu.Alias/@item.ID/@item.Alias"><span>@item.Title</span></a></li>
                    }


                </ul>
            </div><!-- selection -->

            <div class="roomTypes roomType type2">
                <div class="title">ALL ROOM TYPES</div>
                <div class="menus">
                    <ul>
                        @foreach (var item in ListRoom.Where(a => a.ParentID == 0))
                        {
                            var roomChild = ListRoom.Where(a => a.ParentID == item.ID).OrderByDescending(b => b.Index).ToList();
                            if (roomChild.Count > 0)
                            {
                                <li class="menu hasSubmenu">
                                    <a href="#">@item.Title</a>
                                    <div class="submenu">
                                        @foreach (var room in roomChild)
                                        {
                                            <a href="/@menu.Alias/@room.ID/@room.Alias">@room.Title</a>
                                        }


                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="menu"><a href="/@menu.Alias/@item.ID/@item.Alias">@item.Title</a></li>
                            }
                        }


                    </ul>
                </div>
            </div><!-- selection -->

        </div> <!-- end pContain -->
    </section> <!-- section -->
</div><!-- end main -->
